OPENAI_API_KEY=

LLM_CONFIG={}

DATA_BASE_PATH_TEST=
DATA_BASE_PATH=

PERPLEXITY_KEY=


LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

GROQ_API_KEY=

PORT=3050

GEMINI_KEY=

POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
